extends main/page_default

block head
    title Form

block content
    +page-title('Конкурс на самое безбашенное путешествие с Пинк')
    .page-content
        .container
            p.page-conent__description Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! Пожалуйста, заполните форму ниже:
            +form-story
            