mixin form-story
    form.form.form_story
        fieldset.form__fieldset.form__fieldset_noborder.form__fieldset_half
            legend Ваше ФИО
            each formItem in [['surname',"Фамилия", 'Укажите фамилию'], ['name', 'Имя', 'Укажите ваше имя'], ['secondname', 'Отчество', 'Ну и Отчество тоже']]
                .form__item
                    label(for="input-" + formItem[0])= formItem[1]
                    input(id='input-' + formItem[0], type="text" name= formItem[0], placeholder= formItem[2])
       
        fieldset.form__fieldset.form__fieldset_half.form__fieldset_app
            legend С каким приложением вы путешествовали? 
            each radio, index in [['ios', 'Pink для iOS'], ['android', 'Pink для android'], ['wp', 'Windows phone']]
                .form__item.form__item_radio
                    input(type="radio", name='travelApp', value= radio[0], id="travelApp" + (index + 1))
                    label(for='travelApp' + (index + 1))= radio[1]

        fieldset.form__fieldset.form__fieldset_contact
            legend Контактная информация
            .form__item.form__item_phone
                input#input-phone(type="tel", name='phone', placeholder='+7 XXX XXX-XX-XX')
                label(for='input-phone') Номер телефона

            .form__item.form__item_email
                input#input-email(type="email", name='email', placeholder='введите почту')
                label(for='input-email') Адрес почты
        .form__actions
            input(type="submit" value="Отправить форму")